@model List<RMS.Model.viewModes.InvoiceIndexDTOs>

@{
    ViewBag.Title = "Index";
}
<style>
    .box-shadow {
        box-shadow: 4px 3px 8px 1px #969696;
        -webkit-box-shadow: 4px 3px 8px 1px #969696;
        text-align: center;
        margin-top: 5%;
        border-radius: 2%;
    }
</style>
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Orders</h6>
        </div>

        <div class="container-fluid py-4">
            <div class="row">
               
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <h5 class="font-weight-bolder mb-0">
                                                Table No @Model.FirstOrDefault().TableName

                                            </h5>
                                            <div class="box-shadow">@Html.ActionLink("Total Order Items", "Details", new { orderCartID = Model.First().OrderCartID })</div>

                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fas fa-paste opacity-10 " style='font-size:24px' aria-hidden="true"></i>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

               

            </div>
        </div>
    </div>
</div>
