@model List<RMS.Model.viewModes.MenuDTOs>
@{
    ViewBag.Title = "Index";
}

<div id="PlaceHolderHere"></div>
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="text-center"> MENU  </h4>
            <a type="button" class="btn btn-primary" href="/Menu/Create">
                Create
            </a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dish Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dish Price</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sub Category</th>


                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var menu in Model)
                        {
                        <tr class="text-center">
                                                     
                            <td>
                                <div class="d-flex px-3 py-1">

                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@menu.MenuName</h6>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-3 py-1">

                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@menu.MenuPrice</h6>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-3 py-1">

                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@menu.DishSubCategory</h6>
                                    </div>

                                </div>
                            </td>

                            <td class="align-middle" style="float:right;">

                                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/Menu/Delete/@menu.MenuID"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                <a class="btn btn-link text-dark px-3 mb-0" href="/Menu/Edit/@menu.MenuID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                <a class="btn btn-link text-dark px-3 mb-0" href="/Menu/Details/@menu.MenuID"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

