@model IEnumerable<RMS.Model.viewModes.OrderCartDTOs>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function AddToCart(item) {
        var dishId = $(item).attr("menuId");
        var formData = new FormData();
        formData.append("menuId", dishId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/OrderCart/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("Error occured");
            }

        });
    }
</script>
<div class="">
    <div class="card">
        <div class="card-body p-3">
            <div class="row">
                <h2 class="text-center"> Menu Items</h2>
                @foreach (var item in Model)
                {
                    <div class="col-md-3" style="border: 2px solid black; margin: 2% 2% 0% 4%;">

                        <div style="text-align:center; border-bottom:2px solid maroon">

                            <h3> @item.MenuName</h3>

                        </div>
                        <div>
                            @if (item.ImagePath != null)
                            {
                                <div class="col-md-8">
                                    <img src="~/Content/Image/@item.ImagePath" width="100px" height="100px" />

                                </div>
                            }
                            <div class="col-md-3" style="text-align:left">
                                <b>@item.Description</b>
                            </div>
                        </div>
                        <div class="col-md-8" style="font-size:18px; border-top: 2px solid maroon; padding: 2px">
                            <b> @item.MenuPrice</b>
                        </div>
                        <div class="col-md-3" style="text-align:right; margin-bottom:10px; border-top:2px solid maroon; padding:2px">
                            <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary" menuId="@item.MenuID" id="btnAddToCart" onclick="AddToCart(this)" />

                        </div>

                    </div>

                }

            </div>
        </div>
    </div>
</div>
