@model List<RMS.Model.viewModes.TableDTOs>

@{
    ViewBag.Title = "Index";
}

<div id="PlaceHolderHere"></div>
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Table </h6>
            <a type="button" class="btn btn-primary" href="/Table/Create">
                Create
            </a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">TABLE</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var table in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@table.TableName</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" style="float:right;">

                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/Table/Delete/@table.TableID"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                    <a class="btn btn-link text-dark px-3 mb-0" href="/Table/Edit/@table.TableID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    <a class="btn btn-link text-dark px-3 mb-0" href="/Table/Details/@table.TableID"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



