@model IEnumerable<RMS.Model.viewModes.DishSubCategoryDTOs>

@{
    ViewBag.Title = "Index";
}


<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="text-center">Dish Sub Category  </h4>
            <a type="button" class="btn btn-primary" href="/DishSubCategory/Create">
                Create
            </a>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr style="font-size:13px;">
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Sub Category Name</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Dish Category</th>

                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dishSubCategory in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@dishSubCategory.SubCategoryName</h6>
                                        </div>
                                    </div>

                                    
                                </td>

                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@dishSubCategory.DishCategory</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">

                                    <a style="float:right;" class="btn btn-link text-dark px-3 mb-0" href="/DishSubCategory/Details/@dishSubCategory.SubCategoryId"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>
                                    <a style="float:right;" class="btn btn-link text-dark px-3 mb-0" href="/DishSubCategory/Edit/@dishSubCategory.SubCategoryId"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    <a style="float:right;" class="btn btn-link text-danger text-gradient px-3 mb-0" href="/DishSubCategory/Delete/@dishSubCategory.SubCategoryId"><i class="far fa-trash-alt me-2"></i>Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

